body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Pokriva celu širinu ekrana */
    height: 100vh; /* Pokriva celu visinu ekrana */
    overflow: hidden;
}

.image {
    background-image: url('https://res.volvox.rs/uploaded/agency/xpert-nekretnine/za_sajt_samo_parcela_3440x1445.jpg');
    background-size: cover;
    background-position: center;
    width: 100%; /* Širina slike se prilagođava */
    height: 100vh; /* Visina slike je isto kao visina ekrana */
    position: absolute;
    transition: background-image 0.5s ease-in-out;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container:hover .image {
    background-image: url('https://res.volvox.rs/uploaded/agency/xpert-nekretnine/render_za_sajt_05a.jpg');
}

/* Tekstualni deo */
.text-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    color: white;
}

h1, h2, h3 {
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 0px 0px 15px #000000;
    color: white;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 35px;
    margin: 15px 0; 
}

h2 {
    font-family: 'Rajdhani', cursive;
    font-size: 35px;
    margin: 5px 0; 
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    margin: 0; 
}
